{% extends "base.html" %} 
{% block title %}메인 페이지{% endblock %} 

{% block page_content %} 
{% if book_list %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for book in book_list%}
        <div class="col">
            <div class="card h-100">
                <div class="card-header">{{ book.id }}</div>
                <img 
                    src="{{ url_for('static', filename='/book_img/{}.jpg'.format(book.id)) }}" 
                    height="200px"
                />
                <div class="card-body">
                    <a href="{{ url_for('main.book_detail',book_id=book.id) }}" style="text-decoration:none; color:black;">
                        <h5 class="card-title">{{ book.book_name }}</h5>
                    </a>
                    <p>{{ book.remain }}권 남음</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>책이 없어요...</p>
{% endif %} {% endblock %}
