<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">Elice Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="cursor: pointer;">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
        </li>
        {% if session['login'] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.logout') }}">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.register') }}">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.login') }}">로그인</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Library
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for('main.my_return') }}">반납하기</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.my_record') }}">대출기록</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>